.links-content a {
    text-decoration: none;
    color: var(--bg-color);
    background-color: var(--second-color);
    display: flex;
    justify-content: center;
    text-align: center;
    border-radius: 12px;
    font-weight: 600;
    font-size: 1.2em;
    padding: 18px;
    position: relative;
    margin: 15px;
    outline: 2px solid var(--text-color);
    transition: all ease 0.3s;
}

.links-content a:hover {
    background-color: transparent;
    color: var(--text-color);
    outline: 2px solid var(--text-color);
    outline-offset: 5px;
}

.links-content {
    max-width: 800px;
    margin: auto;
}