.perfil-content {
    margin: 35px 0;
    text-align: center;
    color: var(--third-color);
}

.perfil-img {
    display: block;
    margin: auto;
    margin-bottom: 20px;
    width: 96px;
    height: 96px;
    background-size: cover;
    background-image: url('../../assets/profile-picture.png');
    border-radius: 50%;
}
